*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    font-family: Arial;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
.button:active{
    background-color: #232536;
    color:#FFD050;
    border:3px solid #FFD050;
}
.button-subscribe:active{
    background-color: #232536;
    color:#ffffff;
    border:3px solid #ffffff;
}
footer{
    background-color: #232536;
    width: 100%;
    padding: 60px 100px 40px 100px;
    margin: 80px 0px 0px 0px;
}
header { 
    width: 100%;
    height: 100px;
    background-color: #232536; 
    padding: 20px 50px 20px 0px;
    display: flex;
    justify-content: space-between;
}
.button{
    width: 250px;
    height: 60px;
    font-weight: 600;
    font-size: 18px;
    background-color: #FFD050;
}

.title{
    font-size: 36px;
    font-weight: 700;
    line-height: 2em;
}
.text{
    color: #6D6E76;
    font-size: 16px;
    line-height: 30px;
}
.name-autor{
    color: #592EA9;
    font-weight: 600;
}
.heading{
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
}
.subtitle{
    font-size: 28px;
    font-weight: 700;
    line-height: 50px;
}
/* Основные параметры*/
.header__logotip{
    padding: 14px 0px 14px 80px; 
}
.logotip{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 32px;
}
.page-navigation{
    width: 30%;
    margin: 20px 0px 20px 40%;
}
.page-navigation__list {
    list-style-type: none; 
    display: flex;
    justify-content: space-between;
}
.page-navigation__link {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 400;
}
.header__button-subscribe {
    width: 150px;
    height: 60px;
    font-weight: 600;
    font-size: 18px;
}
.special-offer_some_text{
    margin: 20px 0px 20px 0px;
}



.background{
    width: 100%;
    height: 720px;
    background-image: url("../img/images-learnabout-machine-learning.c18db3323d34648dadefe11885afc106be4afd35.png");
    transform: scale(-1, 1);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px  0px  0px 950px;
}
.special-offer{
    width:804px;
    height:400px;
    color: #FFFFFF;
    transform: scale(-1, 1);
    
}
.special-offer__heading{
    font-size: 20px;
    font-weight: 400;
    margin: 0px 0px 20px 0px;
}
.special-offer__info{
    font-size: 56px;
    margin: 0px 0px 20px 0px;
}
.special-offer__text{
    margin: 20px 0px 20px 0px;
    color:#ffffff;
}



.catalog-posts__body{
    padding:100px;
    display:flex;
    justify-content: space-between;
}
.featured-post , .all-posts{
    flex: 0 0 45%;
}
.featured-post__title{
    margin: 0px 0px 40px 0px; 
}
.all-posts__title{
    margin: 0px 0px 40px 0px;
}
.item-featured-post{
    padding: 40px;
    border: 1px solid #6D6E76;
}
.item-featured-post__icon{
    width: 750px;
    height: 500px;
}
.item-featured-post p,img{
    padding: 20px 0px;
}
.post{
    padding: 40px 100px 60px 50px;
}
.post_active{
    background-color: #FBF6EA;
}
.item-all-posts__some-text{
    margin: 0px 0px 20px 0px;
}



.about-us{
    padding:100px;
}

.about-us__body{
    padding: 120px 100px;
    display:flex;
    justify-content: space-between;
    background-color: #F4F0F8;
}
.about-us__column{
    flex: 0 0 48%;
    padding: 0px 30px 0px 0px;
}
.item-column__heading{
    margin: 0px 0px 40px 0px;
}
.item-column__title{
    margin: 0px 0px 30px 0px;
}

.item-column__link{
    margin: 30px 0px 0px 0px;
    font-weight:600;
    font-size:16px;
    color:#592EA9;
    letter-spacing: 1px;
}
.item-colored-blocks_yellow{
    width: 50%;
    height: 20px;
    background-color: #FFD050;
}
.item-colored-blocks_violet{
    width: 30%;
    height: 20px;
    background-color: #592EA9;
}
.about-us__colored-blocks{
    display:flex;
    justify-content: right;
}
.page-section__title{
    text-align: center;
    padding: 30px;
}
.grid{
    display: flex;
    justify-content: space-between;
}
.category-tale{
    padding: 40px;
    border: 1px solid #6D6E76;
    margin:20px;
}
.category-tale_accent{
    border: 0px solid #6D6E76;
    background-color: #FFD050;
}
.category-tale__icon{
    width: 48px;
    height: 48px;
    background-color: #FBF6EA;
    padding: 8px;
    border-radius: 15%;
}
.page-section{
    padding: 100px 80px;
}



.story{
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
}
.image-travelers{
    width: 1200px;
    height: 800px;
    position: absolute;
    z-index: -1;
}
.story-item{
    margin: 203px 0px 0px 800px;
    padding: 100px;
    background-color: #ffffff;
}
.story-item__heading{
    margin: 0px 0px 20px;
}
.story-item__subtitle{
    margin: 0px 0px 20px;
    font-size: 48px
}
.story-item__text{
    margin: 20px 0px 20px;
}



.list-autors{
    padding:0px 100px;
    margin: 40px 0px;
}
.list-autors__autors{
    display: flex;
    justify-content: space-between;
}
.list-autors__title{
    text-align: center;
    padding: 30px;
    
}
.image-autors{
    width: 180px;
    height:180px;
    border-radius: 50%;
    margin: 0px 15%;
}
.item-list__autor{
    background-color: #F4F4F4;
    padding: 40px;
    width: 20%;
}
.name-autors,.some-text{
    text-align:center;
}
.item-list__autor_accent{
    background-color: #FBF6EA;
}



.place-reviews{
    margin: 100px;
    background-color:#FBF6EA;
    display:flex;
    justify-content: space-between;
    padding: 100px;
}
.place-reviews__reviews{
    margin:0px 0px 0px 100px;
    padding: 0px 50px;
}
.place-reviews__line{
    border: 1px solid #6D6E76;
    margin:0px 0px 0px 140px;
}
.autor-image{
    width:48px;
    height: 88px;
    border-radius: 50%;
}
.b{
    margin: 30px 0px 0px 0px ;
    display:flex;
    justify-content: space-between;
}
.flip-button_left{
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: #FFFFFF;
    font-size:24px;
}
.flip-button_rigth{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #232536;
    font-size: 28px;
    color:#FFFFFF;
}

.space-joining{
    width: 40%;
    padding: 0px 100px;
    text-align: center;
    margin: 0px 30%;
}



.footer{
    display: flex;
    justify-content: space-between;
}
.space-subscribe__title{
    color: white;
    width: 40%;
}
.space-subscribe{
    margin: 40px 0px 0px 0px; 
    padding: 80px 60px;
    display: flex;
    justify-content: space-between;
    background-color: #3f4152;
}
.space-email{
    background-color: #555569;
    border: 1px solid #86878b;
    width: 400px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    color: white;
}
