*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    font-family: Arial;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
.button:active{
    background-color: #232536;
    color:#FFD050;
    border:3px solid #FFD050;
}
.button-subscribe:active{
    background-color: #232536;
    color:#ffffff;
    border:3px solid #ffffff;
}
footer{
    background-color: #232536;
    width: 100%;
    padding: 60px 100px 40px 100px;
    margin: 80px 0px 0px 0px;
}
header { 
    width: 100%;
    height: 100px;
    background-color: #232536; 
    padding: 20px 50px 20px 0px;
    display: flex;
    justify-content: space-between;
}
.button{
    width: 250px;
    height: 60px;
    font-weight: 600;
    font-size: 18px;
    background-color: #FFD050;
}

.title{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5em;
}
.text{
    color: #6D6E76;
    font-size: 16px;
    line-height: 24px;
}
.name-autor{
    color: #592EA9;
    font-weight: 600;
}
.heading{
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
}
.subtitle{
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
}
@media(max-width:1470px) {
    .title{
        font-size: 30px;
    }
    .text{
        font-size: 14px;
    }
    .heading{
        font-size: 14px;
    }
    .subtitle{
        font-size: 20px;
    }
    
    
    .button{
        width: 160px;
        height: 40px;
        font-size: 14px;
    }
}
@media(max-width:1024px) {
    .title{
        font-size: 24px;
    }
    .text{
        font-size: 12px;
    }
    .heading{
        font-size: 12px;
    }
    .subtitle{
        font-size: 16px;
    }
    
    
    .button{
        width: 120px;
        height: 30px;
        font-size: 12px;
    }
}

.header__logotip{
    padding: 14px 0px 14px 80px; 
}
.logotip{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 32px;
}
.page-navigation{
    width: 50%;
    margin: 20px 0px 20px 40%;
}
.page-navigation__list {
    list-style-type: none; 
    display: flex;
    justify-content: space-around;
}
.page-navigation__link {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 400;
}
.header__button-subscribe {
    width: 150px;
    height: 60px;
    font-weight: 600;
    font-size: 18px;
}
.special-offer_some_text{
    margin: 20px 0px 20px 0px;
}
@media(max-width:1470px) {
    .header__button-subscribe {
        width: 110px;
        height: 40px;
        font-size: 14px;
        margin: auto 0 10px 0;
    }
    .page-navigation__link {
        font-size: 16px;
    }
    .special-offer__info{
        font-size: 46px;
    }
}
@media (max-width:900px) {
    .page-navigation{
        margin: 20px 0px 20px 0;
    }
}

.about-us{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 100px 100px 0px 25%;
}
.about-us__item{
    padding: 0px 40px 40px 40px;
    background-color: #FFFFFF;
}

.results{
    padding: 0px 100px ;
}
.row-results{
    width: 40%;
    padding: 20px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #FFD050;
    margin: 300px  0px 0px 10%;
}
.image{
    position: absolute;
    left: 100px;
    width: 89%;
    z-index: -90;
}


.mision-visions{
    padding: 0px 100px 100px 100px;
}

.mision-visions__body{
    padding: 120px 100px;
    display:flex;
    justify-content: space-between;
    background-color: #F4F0F8;
}
.mision-visions__column{
    flex: 0 0 48%;
    padding: 0px 30px 0px 0px;
}
.item-column__heading{
    margin: 0px 0px 40px 0px;
}
.item-column__title{
    margin: 0px 0px 30px 0px;
}

.item-column__link{
    margin: 30px 0px 0px 0px;
    font-weight:600;
    font-size:16px;
    color:#592EA9;
    letter-spacing: 1px;
}
.item-colored-blocks_yellow{
    width: 50%;
    height: 20px;
    background-color: #FFD050;
}
.item-colored-blocks_violet{
    width: 30%;
    height: 20px;
    background-color: #592EA9;
}
.mision-visions__colored-blocks{
    display:flex;
    justify-content: center;
    flex-direction: row-reverse;
}
@media (max-width:1024px) {
    .mision-visions__body{
        display:flex;
        flex-direction: column;
        padding: 80px 60px 40px 60px;
    }
    .mision-visions__column{
        margin: 0 0 40px;
    }
}


.info-us{
    padding:100px;
}
.blog-info{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}
.blog-info__image{
    width: 624px;
    height: 480px;
}
.blog-info__text-information{
    width:50%;
}
@media (max-width:1450px) {
    .blog-info__image{
        width: 468px;
        height: 360px;
    }
}
@media (max-width:1200px) {
    .blog-info__image{
        width: 312px;
        height: 240px;
    }
}


.list-autors{
    padding:0px 50px;
    margin: 90px 0px;
}
.list-autors__autors{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container-autors{
    display: flex;
}
.list-autors__title{
    text-align: center;
    padding: 30px;
    
}
.item-list__autor{
    margin: 30px;
}
.image-autors{
    width: 160px;
    height:160px;
    border-radius: 50%;
    margin: 10px auto 20px;
    display: block;
}
.item-list__autor{
    background-color: #F4F4F4;
    padding: 40px;
    width: 246px;
}
.name-autors,.some-text{
    text-align:center;
}
.item-list__autor_accent{
    background-color: #FBF6EA;
}
@media (max-width: 1300px) {
    .image-autors{
        width: 120px;
        height:160px;
    }
    
}


.space-joining{
    width: 50%;
    padding: 0px 100px;
    text-align: center;
    margin: 0px auto;
}




.footer{
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}
.space-subscribe__title{
    color: white;
    width: 40%;
}
.space-subscribe{
    margin: 40px 0px 0px 0px; 
    padding: 80px 60px;
    display: flex;
    justify-content: space-between;
    background-color: #3f4152;
}
.space-email{
    background-color: #555569;
    border: 1px solid #86878b;
    width: 30%;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    color: white;
}
@media(max-width: 800px) {
    .space-email{
        font-size: 12px;
        width: 80%;
        margin: 20px 0px 20px 0px;
    }
    .space-subscribe{
        flex-direction: column;
        align-items: center;
        padding: 40px 40px;
    }
    .space-subscribe__title{
        width: 80%;
    }
}